<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>Entering the Web 3.0</title>

    <meta name="description" content="" />
    <meta name="author" content="Matias Figueroa" />

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:700&text=JS' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='node_modules/font-awesome/css/font-awesome.css' rel='stylesheet' type='text/css'>
    <link href="styles/bundle.css" rel="stylesheet" />

    <link rel="shortcut icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      if(window.location.hostname == "matix.github.io") {
        ga('create', 'UA-XXXXXXXX-X', 'matix.github.io');
        ga('send', 'pageview');
      }
    </script>
</head>

<body class="impress-not-supported">
<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>

<div id="impress">
    <script>
      SLIDE_PADDING = 200;
    </script>

    <div id="intro" class="step hero" data-x="0" data-y="0">
        <h1>Entering the Web 3.0</h1>
        <h2>What's comming to your browser real soon.</h2>
    </div>

    <div id="about" class="step slide" data-y="prev+900+10">
        <h1>Matias Figueroa</h1>
        <h2>UI Developer</h2>
        <h2>Software Designer @ Globant</h2>
        <h2>Likes to make stuff...</h2>
        <br>
        <p><a href="mailto:matias.figueroa@globant.com" target="_blank"><i class="icon-envelope-alt"></i> matias.figueroa@globant.com</a></p>
        <p><a href="https://twitter.com/matixfigueroa" target="_blank"><i class="icon-twitter"></i> @matixfigueroa</a></p>
        <p><a href="https://github.com/matix" target="_blank"><i class="icon-github"></i> github.com/matix</a></p>
        <p><a href="https://matixfigueroa.com" target="_blank"><i class="icon-link"></i> matixfigueroa.com</a></p>

        <div class="fa fa-user fa-4x slide-icon"></div>
    </div>

    <div id="web3-intro" class="step slide" data-x="prev" data-y="prev+700+SLIDE_PADDING">
      <h1>The Web is a living Standard...</h1>
      <img class="chart" height="450px" src="images/web-evolution-chart.jpg" alt="Web Evolution along the years.">
    </div>

    <div id="web3-web1" class="step slide" data-x="prev+960+SLIDE_PADDING" data-y="prev">
      <h1>The Web 1.0</h1>
      <br>
      <i class="fa fa-4x fa-file-code-o"></i>
      <i class="fa fa-2x fa-link"></i>
      <h2>The Tech: Interlinked Documents</h2>
      <br>
      <i class="fa fa-4x fa-globe"></i>
      <h2>The Goal: World Wide Knowledge Share</h2>
    </div>

    <div id="web3-web2" class="step slide" data-x="prev+960+SLIDE_PADDING" data-y="prev">
      <h1>The Web 2.0</h1>
      <br>
      <i class="fa fa-4x fa-file-code-o"></i>
      <i class="fa fa-2x fa-bolt"></i>
      <h2>The Tech: AJAX / Dynamic Pages</h2>
      <br>
      <i class="fa fa-4x fa-group"></i>
      <h2>The Goal: Wold Wide Communities</h2>
    </div>

    <div id="web3-web3" class="step slide" data-x="prev+960+SLIDE_PADDING" data-y="prev">
      <h1>The Web 3.0</h1>
      <br>
      <i class="fa fa-4x fa-file-code-o"></i>
      <i class="fa fa-2x fa-gears"></i>
      <h2>The Tech: Full Fledge Application Platform</h2>
      <br>
      <i class="fa fa-4x fa-cloud"></i>
      <h2>The Goal: Wold Wide Connected Agents</h2>
    </div>

    <div id="web3-web4" class="step slide" data-x="prev+960+SLIDE_PADDING" data-y="prev">
      <h1>The Web 4.0</h1>
      <br>
      <i class="fa fa-4x fa-file-code-o"></i>
      <i class="fa fa-2x fa-lightbulb-o"></i>
      <h2>The Tech: ?</h2>
      <br>
      <i class="fa fa-4x fa-lightbulb-o"></i>
      <h2>The Goal: Wold Wide Intelligent Agents</h2>
    </div>

    <div id="web3-web5" class="step slide" data-x="prev+960+SLIDE_PADDING" data-y="prev">
      <h1>The Web 5.0</h1>
      <br>
      <i class="fa fa-4x fa-file-code-o"></i>
      <img src="images/skynet-logo.png" alt="" />
      <h2>The Tech: Skynet</h2>
      <br>
      <i class="fa fa-4x fa-bomb"></i>
      <h2>The Goal: Wold Wide Domination</h2>
    </div>

    <div id="web3-whats-new" class="step slide centered" data-x="prev-960*2-SLIDE_PADDING*2" data-y="prev+700+SLIDE_PADDING" data-steps="2">
      <h1>So What's New?</h1>
      <p class="s1">
        <i class="fa fa-warning color-warning"></i> Disclaimer: The following technologies are mostly on draft and not ready
        for mainstream use yet.
      </p>
      <p class="s2">
         Play but don't Sell just yet.
      </p>
    </div>

    <script>
      // Navigation alter to get back to #web3-web3 one more time
      var altered = false,
          stepA = document.getElementById("web3-web5"),
          stepB = document.getElementById("web3-web3"),
          stepC = document.getElementById("web3-whats-new");

      stepA.addEventListener("impress:stepleave", function(e) {
        if(!altered) {
          altered = true;
          setTimeout(function() {
            impress().goto(stepB);
          },0);
        }
      });

      stepB.addEventListener("impress:stepleave", function(e) {
        if(altered) {
          altered = false;
          setTimeout(function() {
            impress().goto(stepC);
          },0);
        }
      });
    </script>

    <div id="web3-new-overview" class="step slide centered" data-x="prev+960+SLIDE_PADDING" data-y="prev">
      <i class="fa fa-4x fa-html5"></i>
      <h2>Web Components</h2>
      <br>
      <i class="fa fa-4x fa-css3"></i>
      <h2>CSS Shaders</h2>
      <br>
      <i class="fa js-logo"></i>
      <h2>Javascript ES6 (JS.next)</h2>
    </div>

    <div id="wc-intro" class="step hero" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <br>
      <i class="fa pull-left fa-4x fa-html5"></i>
      <h1>Web Components</h1>
    </div>

    <div id="wc-definition" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev" data-steps="4">
      <h1>Web Components</h1>
      <p>A collection of w3c Standards that enable extensibility for HTML.</p>
      <br>
      <ul class="std-list">
        <li class="s1"><i class="fa fa-sitemap"></i> <br>The Shadow DOM</li>
        <li class="s2">+</li>
        <li class="s2"><i class="fa fa-code"></i> <br>Templates</li>
        <li class="s3">+</li>
        <li class="s3"><i class="fa fa-cubes"></i> <br>Custom Elements</li>
        <li class="s4">+</li>
        <li class="s4"><i class="fa fa-folder-open"></i> <br>HTML Import</li>
      </ul>
    </div>

    <div id="wc-shadow-dom" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <h1>The Shadow DOM</h1>
      <i class="fa fa-sitemap fa-4x slide-icon"></i>
      <video class="player" controls>
        <source src="http://video.webmfiles.org/big-buck-bunny_trailer.webm">
      </video>
      <br>
      <br>
      <div class="instructions">
        <p>Right Click <i class="fa fa-caret-right"></i> Inspect Element</p>
        <p>Make sure: <img src="images/shadow-dom-check.png" alt="Check Shadow DOM on Developer Tools" height="40"></p>
      </div>
    </div>

    <div id="wc-shadow-dom-2" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev" data-steps="3">
      <i class="fa fa-sitemap fa-4x slide-icon"></i>
      <h1>The Shadow DOM</h1>
      <p>The Shadow DOM is a <strong>subtree</strong> that belongs to a complex element, and it's isolated
      from the rest of the document.</p>
      <br>
      <p class="s1">Why is this important?</p>
      <br>
      <h2 class="s2"><i class="fa fa-lock s2"></i> Encapsulation</h2>
      <textarea class="s3" data-codemirror="true" data-mode="htmlmixed" data-read-only="true">
        <style scoped>
          button {
            width: 30px;
            height: 30px;
          }
        </style>
      </textarea>
    </div>

    <div id="wc-templates" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev" data-steps="7">
      <h1>Templates Today</h1>
      <textarea data-codemirror="true" data-mode="htmlmixed" data-read-only="true">
        <script type="text/x-template">
          <h1>Hello World!</h1>
          <p>Im a template</p>
        </script>
      </textarea>
      <ul>
        <li class="s1"><i class="fa fa-thumbs-up color-ok"></i> No dom creation.</li>
        <li class="s2"><i class="fa fa-thumbs-down color-error"></i> No pre-parsing or validation.</li>
        <li class="s3"><i class="fa fa-thumbs-down color-error"></i> Obscure to the browser.</li>
      </ul>
      <br>
      <textarea data-codemirror="true" data-mode="htmlmixed" data-read-only="true" class="s4">
        <script>
          $.get("mytemplate.html");
        </script>
      </textarea>
      <ul>
        <li class="s5"><i class="fa fa-thumbs-up color-ok"></i> No retrieving or pre-parsing.</li>
        <li class="s6"><i class="fa fa-thumbs-down color-error"></i> Extra Request.</li>
        <li class="s7"><i class="fa fa-thumbs-down color-error"></i> AJAX CORS Restrictions.</li>
      </ul>
      <i class="fa fa-code fa-4x slide-icon"></i>
    </div>

    <div id="wc-templates-2" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev" data-steps="4">
      <h1>Templates</h1>
      <i class="fa fa-code fa-4x slide-icon"></i>
      <textarea data-codemirror="true" data-mode="htmlmixed" data-read-only="true">
        <template id="my-template">
          <h1>Hello World!</h1>
          <p>Im a template</p>
        </template>
      </textarea>
      <ul>
        <li class="s1"><i class="fa fa-thumbs-up color-ok"></i> Parsing.</li>
        <li class="s2"><i class="fa fa-thumbs-up color-ok"></i> No Extra Request.</li>
        <li class="s3"><i class="fa fa-thumbs-up color-ok"></i> Clear intentions to the browser.</li>
      </ul>
      <br>
      <textarea data-codemirror="true" data-mode="javascript" data-read-only="true" class="s4">
        var mytemplate =
              document.getElementById("my-template");

        document.appendChild(
          mytemplate.content.clone(true)
        );
      </textarea>
    </div>

    <div id="wc-custom-elements" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <h1>Widgets Today:</h1>
      <i class="fa fa-cubes fa-4x slide-icon"></i>
      <textarea data-codemirror="true" data-mode="htmlmixed" data-read-only="true" class="">
        <div class="slider" ng-controller="slider">
          <ul class="slider-content">
            <li class="slider-slide">
              <img src="image-1.png" alt="Image 1">
            </li>
            <li class="slider-slide">
              <img src="image-2.png" alt="Image 2">
            </li>
            ...
          </ul>
          <nav class="slider-nav">
            <div class="slider-prev" ng-click="prev()">
            </div>
            <div class="slider-next" ng-click="next()">
            </div>
          </nav>
        </div>
      </textarea>
    </div>

    <div id="wc-custom-elements-2" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <h1>Widgets Today:</h1>
      <i class="fa fa-cubes fa-4x slide-icon"></i>
      <textarea data-codemirror="true" data-mode="htmlmixed" data-read-only="true" class="">
        <a href="https://twitter.com/share"
           class="twitter-share-button"
           data-url="http://matix.github.com/intro-web3"
           data-via="matixfigueroa">Tweet</a>
        <script src=//platform.twitter.com/widgets.js>
        </script>
      </textarea>
      <br>
      <textarea data-codemirror="true" data-mode="htmlmixed" data-read-only="true" class="">
        <iframe
          src="//www.facebook.com/plugins/like.php?href=..."
          scrolling="no"
          frameborder="0"
          style="border:none; overflow:hidden; height:80px;"
          allowTransparency="true">
        </iframe>
      </textarea>
    </div>

    <div id="wc-custom-elements-3" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <h1>Custom Elements</h1>
      <i class="fa fa-cubes fa-4x slide-icon"></i>
      <textarea data-codemirror="true" data-mode="htmlmixed" data-read-only="true" class="">
        <img-slider>
          <img src="image-1.png" alt="Image 1">
          <img src="image-2.png" alt="Image 2">
          <img src="image-3.png" alt="Image 3">
        </img-slider>
      </textarea>
      <br>
      <textarea data-codemirror="true" data-mode="htmlmixed" data-read-only="true" class="">
        <tweet
          url="http://matix.github.com/intro-web3"
          via="matixfigueroa">
        </tweet>
      </textarea>
      <br>
      <textarea data-codemirror="true" data-mode="htmlmixed" data-read-only="true" class="">
        <like url="http://matix.github.com/intro-web3">
        </like>
      </textarea>
    </div>

    <div id="wc-we-can-do-it" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev" data-steps="1">
      <img src="images/we-can-do-it.jpg" alt="We can do it!" />
      <p class="s1">(eventually)</p>
    </div>

    <div id="wc-custom-elements-4" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <i class="fa fa-cubes fa-4x slide-icon"></i>
      <p>img-slider.html</p>
      <textarea data-codemirror="true" data-mode="htmlmixed" data-read-only="true" class="">
        <template id="template">
          <!-- Markup for the slider -->
        </template>

        <script>
          var tmpl = document.getElementById('template');

          var ImgSliderProto =
                   Object.create(HTMLElement.prototype);

          ImgSliderProto.createdCallback = function() {
            var root = this.createShadowRoot();
            root.appendChild(
              document.importNode(tmpl.content, true);
            );
          };

          var ImgSlider = document.register('img-slider', {
            prototype: ImgSliderProto
          });
        </script>
      </textarea>
    </div>

    <div id="wc-meta-import" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev" data-steps="1">
      <h1>HTML Import</h1>
      <i class="fa fa-folder-open fa-4x slide-icon"></i>

      <textarea data-codemirror="true" data-mode="htmlmixed" data-read-only="true" class="">
        <link rel="import" href="img-slider.html">

        <img-slider>
         ...
        </img-slider>
      </textarea>
      <br>
      <textarea data-codemirror="true" data-mode="htmlmixed" data-read-only="true" class="s1">
        <link rel="import"
              href="//facebook.com/webcomponents/like.html">

        <like url="http://matix.github.com/intro-web3">
        </like>
      </textarea>
    </div>

    <div id="wc-polymer" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <i class="fa fa-cubes fa-4x slide-icon"></i>
      <h1>Polymer: </h1>
      <p>my-element.html</p>
      <textarea data-codemirror="true" data-mode="htmlmixed" data-read-only="true" class="">
        <script src="../platform/platform.js"></script>
        <link rel="import"
              href="../polymer/polymer.html">
        <polymer-element name="my-element"
                         attributes="name">
          <template>
            <span>Hello <b>{{name}}</b>.</span>
          </template>
        </polymer-element>
      </textarea>
      <br>
      <textarea data-codemirror="true" data-mode="htmlmixed" data-read-only="true" class="">
        <script src="../polymer/polymer.js"></script>
        <link rel="import" href="my-element">

        <my-element name="Matias"></my-element>
      </textarea>
    </div>

    <div id="wc-play" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <i class="fa fa-4x fa-paper-plane slide-icon"></i>
      <h1>Play:</h1>
      <h2>Articles</h2>
      <a href="http://www.w3.org/TR/components-intro/">[W3C] Introduction to Web Components</a><br>
      <a href="http://www.html5rocks.com/en/tutorials/webcomponents/customelements/">[H5R] Custom Elements</a><br>
      <a href="http://css-tricks.com/modular-future-web-components/">[CSST] A Guide to Web Components</a>
      <h2>Can I use?</h2>
      <a href="http://caniuse.com/#feat=shadowdom">Shadow DOM</a><br>
      <a href="http://caniuse.com/#feat=template">Templates</a>
      <h2>Polymer</h2>
      <a href="http://www.polymer-project.org">polymer-project.org</a>
      <h2>Examples</h2>
      <a href="http://customelements.io">customelements.io</a>
    </div>

    <div id="sha-intro" class="step hero" data-x="prev" data-y="prev+700+SLIDE_PADDING">
      <br>
      <i class="fa pull-left fa-4x fa-css3"></i>
      <h1>CSS Shaders</h1>
    </div>

    <div id="sha-definition" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <h1>CSS Filters</h1>
      <i class="fa fa-4x fa-css3 slide-icon"></i>
      <textarea data-codemirror="true" data-mode="css" data-read-only="true" class="">
        .image-1 {
          filter: blur(5, 5);
        }
        ...
        .image-4 {
          filter: saturate(5);
        }
        .image-5 {
          filter: invert(1);
        }
        .image-6 {
          filter: grayscale(1);
        }
        ...
        .image-9 {
          filter: sepia(0.5);
        }
      </textarea>
      <img class="img-filters" src="images/css-filters.png" alt="CSS Filters">
    </div>

    <div id="sha-definition-2" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev" data-steps="1">
      <h1>Shaders</h1>
      <i class="fa fa-4x fa-css3 slide-icon"></i>
      <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r67/three.js" type="text/javascript" charset="utf-8"></script>
      <script type="text/javascript" charset="utf-8">
        var slide = document.getElementById("sha-definition-2");
        var scene = new THREE.Scene();
  			var camera = new THREE.PerspectiveCamera(75, 920/550, 1, 100);

  			var renderer = new THREE.WebGLRenderer();
  			renderer.setSize(920, 550);
  			slide.appendChild(renderer.domElement);

  			var geometry = new THREE.CubeGeometry(3,3,3);
  			var material = new THREE.MeshBasicMaterial({color: 0xffffff, wireframe: true, wireframe_linewidth: 10 });
  			var cube = new THREE.Mesh(geometry, material);
  			scene.add(cube);

  			camera.position.z = 5;

        var play = false;
  			var render = function () {
  				requestAnimationFrame(render);
          if(!play) return;

  				cube.rotation.x += 0.01;
  				cube.rotation.y += 0.01;

  				renderer.render(scene, camera);
  			};
        render();

        slide.addEventListener("impress:stepenter", function() {
          play = true;
        })
        slide.addEventListener("impress:stepleave", function() {
          play = false;
        })
      </script>
      <div class="definition s1">
        <center>
          <p>A <strong>Shader</strong> is a small program that runs directly onthe GPU.</p>
          <p>It usually performs 2 types of tasks:</p>
          <p>Arrange vertices of a geometry [Vertex Shader]</p>
          <p>Arrange Pixels on a texture [Fragment Shader]</p>
        </center>
      </div>
    </div>

    <div id="sha-fragment" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev" data-steps="2">
      <i class="fa fa-4x fa-css3 slide-icon"></i>
      <textarea data-codemirror="true" data-mode="glsl" data-read-only="true">
        .image {
          filter: grayscale(1);
        }
      </textarea>
      <br>
      <textarea data-codemirror="true" data-mode="glsl" data-read-only="true" class="s1">
        .image {
          filter: custom(none url(shaders/grayscale.fs), amount 1;
        }
      </textarea>
      <br>
      <p class="s2">grayscale.fs</p>
      <textarea data-codemirror="true" data-mode="glsl" data-read-only="true" class="s2">
        void main()
        {
          // Convert to grayscale using NTSC conversion weights
          float gray = dot(gl_Color.rgb,
                vec3(0.299 * amount, 0.587 * amount, 0.114 * amount));

          gl_FragColor = vec4(gray, gray, gray, gl_Color.a);
        }
      </textarea>
    </div>

    <div id="sha-vertex" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev" data-steps="2">
      <i class="fa fa-4x fa-css3 slide-icon"></i>
      <textarea data-codemirror="true" data-mode="glsl" data-read-only="true">
        .image {
          transform: rotate(45deg);
        }
      </textarea>
      <br>
      <textarea data-codemirror="true" data-mode="glsl" data-read-only="true" class="s1">
        .image {
          filter: custom(url(shaders/rotate.vs), none), angle 45;
        }
      </textarea>
      <br>
      <p class="s2">rotate.vs</p>
      <textarea data-codemirror="true" data-mode="glsl" data-read-only="true" class="s2">
        void main(){
          float PI = 3.14159265358979323846264;
          float rad_angle = angle*PI/180.0;

          vec4 a = gl_Vertex; vec4 b = a;
          b.x = a.x*cos(rad_angle) - a.y*sin(rad_angle);
          b.y = a.y*cos(rad_angle) + a.x*sin(rad_angle);
          gl_Position = gl_ModelViewProjectionMatrix*b;
        }
      </textarea>
    </div>

    <div id="sha-example" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
    <i class="fa fa-4x fa-css3 slide-icon"></i>
    <h1>The Real Power:</h1>
    <center>
      <iframe title="AdobeTV Video Player" class="LayoutImage"
              width="920"
              height="550"
              src="http://tv.adobe.com/embed/831/14234/autoplay/"
              frameborder="0"
              allowfullscreen="allowfullscreen"
              scrolling="no">
      </iframe>
    </center>
    </div>

    <div id="sha-example-2" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
    <i class="fa fa-4x fa-css3 slide-icon"></i>
    <h1>The Real Power:</h1>
    <center>
      <iframe title="AdobeTV Video Player" class="LayoutImage"
              width="920"
              height="550"
              src="http://tv.adobe.com/embed/831/14231/autoplay/"
              frameborder="0"
              allowfullscreen="allowfullscreen"
              scrolling="no">
      </iframe>
    </center>
    </div>

    <div id="es6-intro" class="step hero" data-x="prev" data-y="prev+700+SLIDE_PADDING">
      <br>
      <i class="fa js-logo pull-left"></i>
      <h1>&nbsp; Javascript ES6</h1>
    </div>

    <div id="es6-definition" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev" data-steps="5">
      <h1>Ecmascript 6</h1>
      <p class="">New interation on the standard.</p>
      <p class="s1">LOTS of new features.</p>
      <p class="s2">OMG SO MANY NEW FEATURES!</p>
      <br>
      <p class="s3">Better for:</p>
      <ul class="std-list">
        <li class="s3"><i class="fa fa-2x fa-rocket"></i></li>
        <li class="s3">Applications</li>
        <li><br></li>
        <li class="s4"><i class="fa fa-2x fa-cubes"></i></li>
        <li class="s4">Libraries</li>
        <li><br></li>
        <li class="s5"><i class="fa fa-2x fa-gears"></i></li>
        <li class="s5">Code Generators</li>
      </ul>
    </div>

    <div id="es6-topics" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev" data-steps="2">
      <h1>Ecmascript 6</h1>
      <br>
      <ul class="std-list">
        <li class="s1">Function Shorthand</li>
        <li class="s1">Destructuring Assignment</li>
        <li class="s1">String Interpolation</li>
        <li class="s1">Generators and Iterators</li>
        <li class="s1">Classes</li>
        <li class="s1">Symbols</li>
        <li class="s1">Modules</li>
        <li class="s2 color-disabled">Proxies</li>
        <li class="s2 color-disabled">Weak Maps</li>
        <li class="s2 color-disabled">Typed Arrays</li>
        <li class="s2 color-disabled">Rest parameters</li>
        <li class="s2 color-disabled">Default Parameters</li>
        <li class="s2 color-disabled">... even more!</li>
      </ul>
    </div>

    <div id="es6-func-shorthand" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <h1>Now</h1>
      <div class="js-logo slide-icon"></div>
      <textarea data-codemirror="true" data-mode="javascript" data-read-only="true">
        people.filter(function(e){
                return e.age > 21;
              })
              .map(function(e){
                return e.name:
              })
              .forEach(function(name, i){
                function logName (){
                  console.log(name);
                }

                $("#person"+i)
                    .text(name)
                    .click(logName);
              });
      </textarea>
    </div>

    <div id="es6-func-shorthand-2" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <h1>Function Shorthand</h1>
      <div class="js-logo slide-icon"></div>
      <br>
      <textarea data-codemirror="true" data-mode="javascript" data-read-only="true">
        people.filter((e) => e.age > 21)
              .map((e) => e.name)
              .forEach((name, i) => {
                var logName = (=>console.log(name));

                $("#person"+i)
                  .text(name)
                  .click(logName);
              });
      </textarea>
    </div>

    <div id="es6-dest-assign" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <h1>D. Assignment</h1>
      <div class="js-logo slide-icon"></div>
      <br>
      <textarea data-codemirror="true" data-mode="javascript" data-read-only="true">
        var person = {
          name: "Matias",
          surname: "Figueroa",
          likes: [
            "music", "code", "es6"
          ],
          greet: function() { console.log("Hi ", this.name)}
        }
      </textarea>
      <br>
      <textarea data-codemirror="true" data-mode="javascript" data-read-only="true">
        let {name, likes, greet} = person;

        console.log(name) //Matias
        console.log(likes[0]) //music
        console.log(greet()) //Hi Matias
      </textarea>
    </div>

    <div id="es6-dest-assign-2" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <h1>D. Assignment</h1>
      <div class="js-logo slide-icon"></div>
      <textarea data-codemirror="true" data-mode="javascript" data-read-only="true">
        let {name, likes, greet} = person;

        let [first, second, third] = likes;
        console.log(first); //music
        console.log(second); //code
        console.log(third); //es6
      </textarea>
      <br>
      <textarea data-codemirror="true" data-mode="javascript" data-read-only="true">
        let [head, ...tail] = likes;
        console.log(head) //music
        console.log(tail) //["code", "es6"]
      </textarea>
      <br>
      <textarea data-codemirror="true" data-mode="javascript" data-read-only="true">
        let {name: firstName, age = 20} = person;
        console.log(firstName); //Matias
        console.log(age); //20
      </textarea>
    </div>

    <div id="es6-string-interpolation" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <h1>String Interpolation</h1>
      <div class="js-logo slide-icon"></div>
      <textarea data-codemirror="true" data-mode="javascript" data-read-only="true">
        var name = person.name,
            likes = person.likes;

        var sentence = "Hi " + name
                       + ", I see you like "
                       + likes.join(",");
      </textarea>
      <br>
      <textarea data-codemirror="true" data-mode="javascript" data-read-only="true">
        let {name, likes, greet} = person;

        var sentence = `Hi ${name},
                        I see you like ${likes.join(',')}`;
        var sentence = `Hi ${person.name},
                        I see you like ${likes.join(',')}`;
        var sentence = `${greet()},
                        I see you like ${likes.join(',')}`;
      </textarea>
    </div>

    <div id="es6-string-interpolation-2" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <h1>String Interpolation</h1>
      <div class="js-logo slide-icon"></div>
      <textarea data-codemirror="true" data-mode="javascript" data-read-only="true">
        let {name, surname, likes} = person;

        var html = safehtml`
          <h1>${name} ${surname}</h1>
          <p>Likes: ${likes.toString()}</p>
        `
      </textarea>
      <br>
      <textarea data-codemirror="true" data-mode="javascript" data-read-only="true">
        var hi = l10n`Hi`;
        console.log(`${hi} ${name}`); //Hola Matias
      </textarea>
      <br>
      <textarea data-codemirror="true" data-mode="javascript" data-read-only="true">
        var qsa = ((s)=> document.querySelectorAll(s));

        qsa`.person` // [<div class="person">]
      </textarea>
    </div>

    <div id="es6-generators" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <h1>Now</h1>
      <div class="js-logo slide-icon"></div>
      <textarea data-codemirror="true" data-mode="javascript" data-read-only="true">
        function fibonacci(beforeNumber) {
          var result = [0, 1];
          while (result[result.length-1] &lt; beforeNumber) {
            result[result.length] =
                result[result.length-1]
                + result[result.length-2];
          }
          return result ;
        }

        var fib = fibonacci(10000);

        for(var i=0; i&lt;fib.length; i++){
          console.log(fib[i]);
        }
      </textarea>
    </div>

    <div id="es6-generators-2" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <h1>Generators</h1>
      <div class="js-logo slide-icon"></div>
      <textarea data-codemirror="true" data-mode="javascript" data-read-only="true">
        function* fibonacci() {
          let [ current, next ] = [ 0, 1 ];
          while (true) {
            [ current, next ] = [ next, current + next ];
            yeld current;
          }
        }
      </textarea>
      <h2>Iterators</h2>
      <textarea data-codemirror="true" data-mode="javascript" data-read-only="true">
        var fib = fibonacci();
        console.log(fib.next()); // 1
        console.log(fib.next()); // 2
        for (var n of fib) {
          if (v >= 10000) break;
          console.log(n); // 3, 5, 8 ...
        }
      </textarea>
    </div>

    <div id="es6-classes" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <h1>Now</h1>
      <div class="js-logo slide-icon"></div>
      <textarea data-codemirror="true" data-mode="javascript" data-read-only="true">
        function Person(name) {
          this.name = name;
        }

        Person.prototype.greet = function(){
          console.log("Hi my name is ", this.name);
        }

        function Employee(name, id) {
          Person.call(this, name);
          this.id = id;
        }
        Employee.prototype = Object.create(Person.prototype);

        Employee.prototype.greet = function(){
          console.log(this.name,"id:",this.id);
        }
      </textarea>
    </div>

    <div id="es6-classes-2" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <h1>Classes (Syntax)</h1>
      <div class="js-logo slide-icon"></div>
      <textarea data-codemirror="true" data-mode="javascript" data-read-only="true">
        class Person {
          constructor(name) {
            this.name = name;
          }
          greet(){
            console.log("Hi my name is ", this.name);
          }
        }
        class Employee extends Person {
          constructor(name, id) {
            super(name);
            this.id = id;
          }
          greet(){
            console.log(this.name,"id:",this.id);
          }
        }
      </textarea>
    </div>

    <div id="es6-symbols" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <h1>Now</h1>
      <div class="js-logo slide-icon"></div>
      <textarea data-codemirror="true" data-mode="javascript" data-read-only="true">
        function Person(name) {
          // public
          this.name = name;

          // Effectively private
          var cantTouchThis = "Suck it!";

          // Sensitive internal data
          // that needs to be shared.
          // Conventionally private
          this._dontTouchThis = seriouslyDont();
        }

        // Later, on a Friday 17:59
        person._dontTouchThis = "LOLOLOLOLOLOLOLOLOL";

        // Ship IT!
      </textarea>
    </div>

    <div id="es6-symbols-2" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <h1>Symbols</h1>
      <div class="js-logo slide-icon"></div>
      <textarea data-codemirror="true" data-mode="javascript" data-read-only="true">
        private @secret_property;

        function Person(name) {
          // public
          this.name = name;

          // private
          this[@secret_property] = secret();
        }

        function tellMeTheSecret(person){
          return person[@secret_property];
        }
      </textarea>
    </div>

    <div id="es6-modules" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <h1>Now: CommonJS</h1>
      <div class="js-logo slide-icon"></div>
      <p>point.js</p>
      <textarea data-codemirror="true" data-mode="javascript" data-read-only="true">
        function Point(x, y) {
            this.x = x;
            this.y = y;
        }

        module.exports = Point;
      </textarea>
      <br>
      <p>myapp.js</p>
      <textarea data-codemirror="true" data-mode="javascript" data-read-only="true">
        var Point = require("point");
        var origin = new Point(0, 0);

        console.log(origin);
      </textarea>
    </div>

    <div id="es6-modules-2" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <h1>Now: AMD</h1>
      <div class="js-logo slide-icon"></div>
      <p>point.js</p>
      <textarea data-codemirror="true" data-mode="javascript" data-read-only="true">
        define("point", function() {
            function Point(x, y) {
                this.x = x;
                this.y = y;
            }
            return Point;
        });
      </textarea>
      <br>
      <p>myapp.js</p>
      <textarea data-codemirror="true" data-mode="javascript" data-read-only="true">
        define("myapp", ["point"], function(Point) {
            var origin = new Point(0, 0);
            console.log(origin);
        });
      </textarea>
    </div>

    <div id="es6-modules-3" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <h1>ES6 Modules</h1>
      <div class="js-logo slide-icon"></div>
      <p>point.js</p>
      <textarea data-codemirror="true" data-mode="javascript" data-read-only="true">
        module "point" {
            private @point_secret;

            export class Point {...}
            export function distance(p1,p2){...}
            export @point_shared_secret
            export points = [...]
        }
      </textarea>
      <br>
      <p>myapp.js</p>
      <textarea data-codemirror="true" data-mode="javascript" data-read-only="true">
        import {Point, distance} from "/point.js";

        var origin = new Point(0, 0);
        console.log(origin);
      </textarea>
    </div>

    <div id="es6-outro" class="step slide centered" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <ul class="std-list">
        <li><i class="fa js-logo" style="font-size:4em"></i></li>
        <li><h1>Javascript ES6</h1></li>
        <li>Toy Language: No more.</li>
      </ul>
    </div>

    <div id="es6-play" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <i class="fa fa-4x fa-paper-plane slide-icon"></i>
      <h1>Play:</h1>
      <h2>Articles</h2>
      <a href="http://code.tutsplus.com/tutorials/eight-cool-features-coming-in-es6--net-33175">[T+] Eight Cool Features Coming in ES6</a><br>
      <a href="http://brendaneich.github.io/Strange-Loop-2012">[BE][Slides] The State of JavaScript</a><br>
      <a href="http://wiki.ecmascript.org/doku.php?id=harmony:harmony">[ES] Ecmascript Harmony Wiki</a>
      <h2>Can I use?</h2>
      <a href="http://kangax.github.io/compat-table/es6/">ECMAScript 6 Compatibility Table</a>
      <h2>On Node</h2>
      <textarea data-codemirror="true" data-mode="bash" data-read-only="true">
        $> node --harmony my-es6-enabled-script.js
      </textarea>
      <h2>On Chrome</h2>
      <a href="chrome://flags/#enable-javascript-harmony">chrome://flags/#enable-javascript-harmony</a>
    </div>

    <div id="more" class="step slide centered" data-x="prev" data-y="prev+760+SLIDE_PADDING">
      <center>
        <img src="images/yao.png" alt="Lol!" height="450">
        <h1>I'm not even finished...</h1>
      </center>
    </div>

    <div id="http2" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <h1>HTTP/2</h1>
      <br>
      <center>
        <img src="images/http2-1.png" alt="HTTP2 Framing" height="200">
        <img src="images/http2-2.png" alt="HTTP2 Streams" height="200">
        <br>
        <br>
        <p><i class="fa fa-qrcode"></i> Binary, <i class="fa fa-bolt"></i> Faster, <i class="fa fa-lock"></i> Secure</p>
        <p>STREAMS</p>
      </center>
      <br>
      <h2>Resources:</h2>
      <a href="http://chimera.labs.oreilly.com/books/1230000000545/ch12.html">High Performance Browser Networking - HTTP 2.0</a>
      <br>
      <a href="https://www.mnot.net/blog/2014/01/30/http2_expectations">Nine Things to Expect from HTTP/2</a>
    </div>

    <div id="more-2" class="step slide centered" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <center>
        <i class="fa fa-4x fa-html5"></i> &nbsp;
        <i class="fa fa-4x fa-css3"></i> &nbsp;
        <i class="fa js-logo"></i> &nbsp;
        <h1>Not just a browsers game anymore</h1>
      </center>
    </div>

    <div id="outro" class="step hero" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <h1>Thanks!</h1>
      <h2><a href="http://matix.github.com/intro-web3">matix.github.com/intro-web3</a></h2>
      <!--img src="images/qr_matix.github.com_intro_web3.png" alt="QR: matix.github.com/intro-web3" height="192"-->
    </div>



    <!--div id="overview" class="step" data-x="1500" data-y="1500" data-z="4500" data-scale="9" data-rotate-y="-90">
    </div-->

</div>

<div class="hint">
    <p>Use a spacebar or arrow keys to navigate</p>
</div>

<script>
if ("ontouchstart" in document.documentElement) {
    document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
}
</script>
</body>
<script type="text/javascript" src="js/bundle.js"></script>
<script>
    impress.preprocess();
    impress().init();
</script>
<script type="text/javascript">
  Array.prototype.slice.call(
    document.getElementsByClassName("step")
  ).forEach(function(step) {
    //Track step view:
    step.addEventListener("impress:stepenter", function() {
      ga && ga("send", "event", "slide", "view", step.id, 1);
    });
  });
</script>
</html>
