<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>Entering the Web 3.0</title>

    <meta name="description" content="" />
    <meta name="author" content="Matias Figueroa" />

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:700&text=JS' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='node_modules/font-awesome/css/font-awesome.css' rel='stylesheet' type='text/css'>
    <link href="styles/bundle.css" rel="stylesheet" />

    <link rel="shortcut icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      if(window.location.hostname == "matix.github.io") {
        ga('create', 'UA-XXXXXXXX-X', 'matix.github.io');
        ga('send', 'pageview');
      }
    </script>
</head>

<body class="impress-not-supported">
<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>

<div id="impress">
    <script>
      SLIDE_PADDING = 200;
    </script>

    <div id="intro" class="step hero" data-x="0" data-y="0">
        <h1>Entering the Web 3.0</h1>
        <h2>What's comming to your browser real soon.</h2>
    </div>

    <div id="about" class="step slide" data-y="prev+900+10">
        <h1>Matias Figueroa</h1>
        <h2>UI Developer</h2>
        <h2>Software Designer @ Globant</h2>
        <h2>Likes to make stuff...</h2>
        <br>
        <p><a href="mailto:matias.figueroa@globant.com" target="_blank"><i class="icon-envelope-alt"></i> matias.figueroa@globant.com</a></p>
        <p><a href="https://twitter.com/matixfigueroa" target="_blank"><i class="icon-twitter"></i> @matixfigueroa</a></p>
        <p><a href="https://github.com/matix" target="_blank"><i class="icon-github"></i> github.com/matix</a></p>
        <p><a href="https://matixfigueroa.com" target="_blank"><i class="icon-link"></i> matixfigueroa.com</a></p>

        <div class="fa fa-user fa-4x slide-icon"></div>
    </div>

    <div id="web3-intro" class="step slide" data-x="prev" data-y="prev+700+SLIDE_PADDING">
      <h1>The Web is a living Standard...</h1>
      <img class="chart" height="450px" src="images/web-evolution-chart.jpg" alt="Web Evolution along the years.">
    </div>

    <div id="web3-web1" class="step slide" data-x="prev+960+SLIDE_PADDING" data-y="prev">
      <h1>The Web 1.0</h1>
      <br>
      <i class="fa fa-4x fa-file-code-o"></i>
      <i class="fa fa-2x fa-link"></i>
      <h2>The Tech: Interlinked Documents</h2>
      <br>
      <i class="fa fa-4x fa-globe"></i>
      <h2>The Goal: World Wide Knowledge Share</h2>
    </div>

    <div id="web3-web2" class="step slide" data-x="prev+960+SLIDE_PADDING" data-y="prev">
      <h1>The Web 2.0</h1>
      <br>
      <i class="fa fa-4x fa-file-code-o"></i>
      <i class="fa fa-2x fa-bolt"></i>
      <h2>The Tech: AJAX / Dynamic Pages</h2>
      <br>
      <i class="fa fa-4x fa-group"></i>
      <h2>The Goal: Wold Wide Communities</h2>
    </div>

    <div id="web3-web3" class="step slide" data-x="prev+960+SLIDE_PADDING" data-y="prev">
      <h1>The Web 3.0</h1>
      <br>
      <i class="fa fa-4x fa-file-code-o"></i>
      <i class="fa fa-2x fa-gears"></i>
      <h2>The Tech: Full Fledge Application Platform</h2>
      <br>
      <i class="fa fa-4x fa-cloud"></i>
      <h2>The Goal: Wold Wide Connected Agents</h2>
    </div>

    <div id="web3-web4" class="step slide" data-x="prev+960+SLIDE_PADDING" data-y="prev">
      <h1>The Web 4.0</h1>
      <br>
      <i class="fa fa-4x fa-file-code-o"></i>
      <i class="fa fa-2x fa-lightbulb-o"></i>
      <h2>The Tech: ?</h2>
      <br>
      <i class="fa fa-4x fa-lightbulb-o"></i>
      <h2>The Goal: Wold Wide Intelligent Agents</h2>
    </div>

    <div id="web3-web5" class="step slide" data-x="prev+960+SLIDE_PADDING" data-y="prev">
      <h1>The Web 5.0</h1>
      <br>
      <i class="fa fa-4x fa-file-code-o"></i>
      <img src="images/skynet-logo.png" alt="" />
      <h2>The Tech: Skynet</h2>
      <br>
      <i class="fa fa-4x fa-bomb"></i>
      <h2>The Goal: Wold Wide Domination</h2>
    </div>

    <div id="web3-whats-new" class="step slide centered" data-x="prev-960*2-SLIDE_PADDING*2" data-y="prev+700+SLIDE_PADDING" data-steps="2">
      <h1>So What's New?</h1>
      <p class="s1">
        <i class="fa fa-warning"></i> Disclaimer: The following technologies are mostly on draft and not ready
        for mainstream use yet.
      </p>
      <p class="s2">
         Play but don't Sell just yet.
      </p>
    </div>

    <script>
      // Navigation alter to get back to #web3-web3 one more time
      var altered = false,
          stepA = document.getElementById("web3-web5"),
          stepB = document.getElementById("web3-web3"),
          stepC = document.getElementById("web3-whats-new");

      stepA.addEventListener("impress:stepleave", function(e) {
        if(!altered) {
          altered = true;
          setTimeout(function() {
            impress().goto(stepB);
          },0);
        }
      });

      stepB.addEventListener("impress:stepleave", function(e) {
        if(altered) {
          altered = false;
          setTimeout(function() {
            impress().goto(stepC);
          },0);
        }
      });
    </script>

    <div id="web3-new-overview" class="step slide centered" data-x="prev+960+SLIDE_PADDING" data-y="prev">
      <i class="fa fa-4x fa-html5"></i>
      <h2>Web Components</h2>
      <br>
      <i class="fa fa-4x fa-css3"></i>
      <h2>CSS Shaders</h2>
      <br>
      <i class="fa js-logo"></i>
      <h2>Javascript ES6 (JS.next)</h2>
    </div>

    <div id="wc-intro" class="step hero" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <br>
      <i class="fa pull-left fa-4x fa-html5"></i>
      <h1>Web Components</h1>
    </div>

    <div id="wc-definition" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev" data-steps="4">
      <h1>Web Components</h1>
      <p>A collection of w3c Standards that enable extensibility for HTML.</p>
      <br>
      <ul class="std-list">
        <li class="s1"><i class="fa fa-sitemap"></i> <br>The Shadow DOM</li>
        <li class="s2">+</li>
        <li class="s2"><i class="fa fa-code"></i> <br>Templates</li>
        <li class="s3">+</li>
        <li class="s3"><i class="fa fa-cubes"></i> <br>Custom Elements</li>
        <li class="s4">+</li>
        <li class="s4"><i class="fa fa-folder-open"></i> <br>HTML Import</li>
      </ul>
    </div>

    <div id="wc-shadow-dom" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <h1>The Shadow DOM</h1>
      <i class="fa fa-sitemap fa-4x slide-icon"></i>
      <video class="player" controls>
        <source src="http://video.webmfiles.org/big-buck-bunny_trailer.webm">
      </video>
      <br>
      <br>
      <div class="instructions">
        <p>Right Click <i class="fa fa-caret-right"></i> Inspect Element</p>
        <p>Make sure: <img src="images/shadow-dom-check.png" alt="Check Shadow DOM on Developer Tools" height="40"></p>
      </div>
    </div>

    <div id="wc-shadow-dom-2" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev" data-steps="3">
      <i class="fa fa-sitemap fa-4x slide-icon"></i>
      <h1>The Shadow DOM</h1>
      <p>The Shadow DOM is a <strong>subtree</strong> that belongs to a complex element, and it's isolated
      from the rest of the document.</p>
      <br>
      <p class="s1">Why is this important?</p>
      <br>
      <h2 class="s2"><i class="fa fa-lock s2"></i> Encapsulation</h2>
      <textarea class="s3" data-codemirror="true" data-mode="htmlmixed" data-read-only="true">
        <style scoped>
          button {
            width: 30px;
            height: 30px;
          }
        </style>
      </textarea>
    </div>

    <div id="wc-templates" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev" data-steps="7">
      <h1>Templates Today</h1>
      <textarea data-codemirror="true" data-mode="htmlmixed" data-read-only="true">
        <script type="text/x-template">
          <h1>Hello World!</h1>
          <p>Im a template</p>
        </script>
      </textarea>
      <ul>
        <li class="s1"><i class="fa fa-thumbs-up color-ok"></i> No dom creation.</li>
        <li class="s2"><i class="fa fa-thumbs-down color-error"></i> No pre-parsing or validation.</li>
        <li class="s3"><i class="fa fa-thumbs-down color-error"></i> Obscure to the browser.</li>
      </ul>
      <br>
      <textarea data-codemirror="true" data-mode="htmlmixed" data-read-only="true" class="s4">
        <script>
          $.get("mytemplate.html");
        </script>
      </textarea>
      <ul>
        <li class="s5"><i class="fa fa-thumbs-up color-ok"></i> No retrieving or pre-parsing.</li>
        <li class="s6"><i class="fa fa-thumbs-down color-error"></i> Extra Request.</li>
        <li class="s7"><i class="fa fa-thumbs-down color-error"></i> AJAX CORS Restrictions.</li>
      </ul>
      <i class="fa fa-code fa-4x slide-icon"></i>
    </div>

    <div id="wc-templates-2" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev" data-steps="4">
      <h1>Templates</h1>
      <i class="fa fa-code fa-4x slide-icon"></i>
      <textarea data-codemirror="true" data-mode="htmlmixed" data-read-only="true">
        <template id="my-template">
          <h1>Hello World!</h1>
          <p>Im a template</p>
        </template>
      </textarea>
      <ul>
        <li class="s1"><i class="fa fa-thumbs-up color-ok"></i> Parsing.</li>
        <li class="s2"><i class="fa fa-thumbs-up color-ok"></i> No Extra Request.</li>
        <li class="s3"><i class="fa fa-thumbs-up color-ok"></i> Clear intentions to the browser.</li>
      </ul>
      <br>
      <textarea data-codemirror="true" data-mode="javascript" data-read-only="true" class="s4">
        var mytemplate =
              document.getElementById("my-template");

        document.appendChild(
          mytemplate.content.clone(true)
        );
      </textarea>
    </div>

    <div id="wc-custom-elements" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <h1>Widgets Today:</h1>
      <i class="fa fa-cubes fa-4x slide-icon"></i>
      <textarea data-codemirror="true" data-mode="htmlmixed" data-read-only="true" class="">
        <div class="slider" ng-controller="slider">
          <ul class="slider-content">
            <li class="slider-slide">
              <img src="image-1.png" alt="Image 1">
            </li>
            <li class="slider-slide">
              <img src="image-2.png" alt="Image 2">
            </li>
            ...
          </ul>
          <nav class="slider-nav">
            <div class="slider-prev" ng-click="prev()">
            </div>
            <div class="slider-next" ng-click="next()">
            </div>
          </nav>
        </div>
      </textarea>
    </div>

    <div id="wc-custom-elements-2" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <h1>Widgets Today:</h1>
      <i class="fa fa-cubes fa-4x slide-icon"></i>
      <textarea data-codemirror="true" data-mode="htmlmixed" data-read-only="true" class="">
        <a href="https://twitter.com/share"
           class="twitter-share-button"
           data-url="http://matix.github.com/intro-web3"
           data-via="matixfigueroa">Tweet</a>
        <script src=//platform.twitter.com/widgets.js>
        </script>
      </textarea>
      <br>
      <textarea data-codemirror="true" data-mode="htmlmixed" data-read-only="true" class="">
        <iframe
          src="//www.facebook.com/plugins/like.php?href=..."
          scrolling="no"
          frameborder="0"
          style="border:none; overflow:hidden; height:80px;"
          allowTransparency="true">
        </iframe>
      </textarea>
    </div>

    <div id="wc-custom-elements-3" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <h1>Custom Elements</h1>
      <i class="fa fa-cubes fa-4x slide-icon"></i>
      <textarea data-codemirror="true" data-mode="htmlmixed" data-read-only="true" class="">
        <img-slider>
          <img src="image-1.png" alt="Image 1">
          <img src="image-2.png" alt="Image 2">
          <img src="image-3.png" alt="Image 3">
        </img-slider>
      </textarea>
      <br>
      <textarea data-codemirror="true" data-mode="htmlmixed" data-read-only="true" class="">
        <tweet
          url="http://matix.github.com/intro-web3"
          via="matixfigueroa">
        </tweet>
      </textarea>
      <br>
      <textarea data-codemirror="true" data-mode="htmlmixed" data-read-only="true" class="">
        <like url="http://matix.github.com/intro-web3">
        </like>
      </textarea>
    </div>

    <div id="wc-we-can-do-it" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
    </div>

    <div id="wc-custom-elements-4" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <i class="fa fa-cubes fa-4x slide-icon"></i>
      <p>img-slider.html</p>
      <textarea data-codemirror="true" data-mode="htmlmixed" data-read-only="true" class="">
        <template id="template">
          <!-- Markup for the slider -->
        </template>

        <script>
          var tmpl = document.getElementById('template');

          var ImgSliderProto =
                   Object.create(HTMLElement.prototype);

          ImgSliderProto.createdCallback = function() {
            var root = this.createShadowRoot();
            root.appendChild(
              document.importNode(tmpl.content, true);
            );
          };

          var ImgSlider = document.register('img-slider', {
            prototype: ImgSliderProto
          });
        </script>
      </textarea>
    </div>

    <div id="wc-meta-import" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev" data-steps="1">
      <h1>HTML Import</h1>
      <i class="fa fa-folder-open fa-4x slide-icon"></i>

      <textarea data-codemirror="true" data-mode="htmlmixed" data-read-only="true" class="">
        <link rel="import" href="img-slider.html">

        <img-slider>
         ...
        </img-slider>
      </textarea>
      <br>
      <textarea data-codemirror="true" data-mode="htmlmixed" data-read-only="true" class="s1">
        <link rel="import"
              href="//facebook.com/webcomponents/like.html">

        <like url="http://matix.github.com/intro-web3">
        </like>
      </textarea>
    </div>

    <div id="wc-polymer" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <i class="fa fa-cubes fa-4x slide-icon"></i>
      <h1>Polymer: </h1>
      <p>my-element.html</p>
      <textarea data-codemirror="true" data-mode="htmlmixed" data-read-only="true" class="">
        <script src="../platform/platform.js"></script>
        <link rel="import"
              href="../polymer/polymer.html">
        <polymer-element name="my-element"
                         attributes="name">
          <template>
            <span>Hello <b>{{name}}</b>.</span>
          </template>
        </polymer-element>
      </textarea>
      <br>
      <textarea data-codemirror="true" data-mode="htmlmixed" data-read-only="true" class="">
        <script src="../polymer/polymer.js"></script>
        <link rel="import" href="my-element">

        <my-element name="Matias"></my-element>
      </textarea>
    </div>

    <div id="wc-play" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <i class="fa fa-4x fa-paper-plane slide-icon"></i>
      <h1>Play:</h1>
      <h2>Articles</h2>
      <a href="http://www.w3.org/TR/components-intro/">[W3C] Introduction to Web Components</a><br>
      <a href="http://www.html5rocks.com/en/tutorials/webcomponents/customelements/">[H5R] Custom Elements</a><br>
      <a href="http://css-tricks.com/modular-future-web-components/">[CSST] A Guide to Web Components</a>
      <h2>Can I use?</h2>
      <a href="http://caniuse.com/#feat=shadowdom">Shadow DOM</a><br>
      <a href="http://caniuse.com/#feat=template">Templates</a>
      <h2>Polymer</h2>
      <a href="http://www.polymer-project.org">polymer-project.org</a>
      <h2>Examples</h2>
      <a href="http://customelements.io">customelements.io</a>
    </div>

    <div id="sha-intro" class="step hero" data-x="prev" data-y="prev+700+SLIDE_PADDING">
      <br>
      <i class="fa pull-left fa-4x fa-css3"></i>
      <h1>CSS Shaders</h1>
    </div>

    <div id="sha-definition" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <h1>CSS Shaders</h1>
    </div>

    <div id="es6-intro" class="step hero" data-x="prev" data-y="prev+700+SLIDE_PADDING">
      <br>
      <i class="fa js-logo pull-left"></i>
      <h1>&nbsp; Javascript ES6</h1>
    </div>

    <div id="es6-topics" class="step slide" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <h1>Ecmascript 6</h1>
    </div>

    <div id="outro" class="step hero" data-x="prev+1400+SLIDE_PADDING" data-y="prev">
      <h1>Thanks!</h1>
      <h2><a href="http://matix.github.com/intro-web3">matix.github.com/intro-web3</a></h2>
      <!--img src="images/qr_matix.github.com_intro_web3.png" alt="QR: matix.github.com/intro-web3" height="192"-->
    </div>



    <!--div id="overview" class="step" data-x="1500" data-y="1500" data-z="4500" data-scale="9" data-rotate-y="-90">
    </div-->

</div>

<div class="hint">
    <p>Use a spacebar or arrow keys to navigate</p>
</div>

<script>
if ("ontouchstart" in document.documentElement) {
    document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
}
</script>
</body>
<script type="text/javascript" src="js/bundle.js"></script>
<script>
    impress.preprocess();
    impress().init();
</script>
<script type="text/javascript">
  Array.prototype.slice.call(
    document.getElementsByClassName("step")
  ).forEach(function(step) {
    //Track step view:
    step.addEventListener("impress:stepenter", function() {
      ga && ga("send", "event", "slide", "view", step.id, 1);
    });
  });
</script>
</html>
